<div class='pagefull-section'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='row'>
          <div class='col-md-6' style="height: 300px;">
            <div class='hero-button-container'>
              <a class="btn yellow-btn btn-lg extra-large-font" role="button">20% Extra Discount</a>
            </div>        
          </div>
          <div class='col-md-6'>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <div class='row'>
                    <div class='col-md-12' style='height: 300px;'>
                      <div class='carousel-content'>
                        <h1>Travel on the most safest chauffer driven vehicle.</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class='row'>
                    <div class='col-md-12' style='height: 300px;'>
                      <div class='carousel-content'>
                        <h1>Ever thought of been driven by a chauffer!!</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class='row'>
                    <div class='col-md-12' style='height: 300px;'>
                      <div class='carousel-content'>
                        <h1>Guessed.</h1>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class='pagefull-section'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h2>Section 2</h2>
      </div>
    </div>
  </div>
</div>

<div class='pagefull-section'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <h2>Section 3</h2>
      </div>
    </div>
  </div>
</div> -->