@import variables
$headerHeight: 70px

.dark-yellow-bg
  background-color: $darkYellow
  color: white

.hover-green
  color: $hoverGreen

.grey-text
  color: $darkGrey

a.grey-text:hover
  color: $black

.yellow-bg
  background-color: $yellowColor !important

.grey-bg
  background: $grey
  

.pagefull-section
  padding-top: 50px
  border-top: 1px solid red
  border-bottom: 1px solid red
  height: 100vh

header
  border: 0px !important
  font-size: 17px
  min-height: $headerHeight !important
  text-transform: uppercase
  background-color: $yellowColor !important
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,.35)
  box-shadow: 0 1px 6px rgba(0,0,0,.35)
  a
    color: white
  .navbar-header, .nav
    min-height: $headerHeight !important
  .navbar-brand
    height: $headerHeight
    padding-top: 23px
  .nav.navbar-nav
    li
      height: $headerHeight
      a
        height: 100%
        padding-top: 23px
      a:hover, a:active, a:focus
        border-bottom: 5px solid $hoverGreen
        background: none
        color: $hoverGreen
        transition: .2s ease-out

.carousel-indicators li
  border: 1px solid $yellowColor
.carousel-indicators .active
  background: $yellowColor


.yellow-btn
  color: white
  border-color: $yellowColor !important
  background: $yellowColor !important
.yellow-btn:hover, .yellow-btn:focus, .yellow-btn:active, .yellow-btn.active
  color: white
  border-color: $yellowColor !important
  background-color: $yellowColor !important

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left
  left: 0
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right
  right: 0

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6
  font-weight: 200

.page-section
  padding: 30px 0px
  p
    margin-bottom: 30px


.footer
  background-color: $veryLightYellow
  color: $darkGrey
  a:hover
    text-decoration: none
  p
    font-size: 13px
    margin-bottom: 10px
  .autos-logo
    font-weight: 500
    font-size: 21px
    opacity: 0.5

.bold
  font-weight: 500