@import variables
$headerHeight: 70px

.yellow-bg
  background-color: $yellowColor !important

.pagefull-section
  padding-top: 50px
  border-top: 1px solid red
  border-bottom: 1px solid red
  height: 100vh

header
  border: 0px !important
  font-size: 17px
  min-height: $headerHeight !important
  text-transform: uppercase
  background-color: $yellowColor !important
  a
    color: white
  .navbar-header, .nav
    min-height: $headerHeight !important
  .navbar-brand
    height: $headerHeight
    padding-top: 23px
  .nav.navbar-nav
    li
      height: $headerHeight
      a
        height: 100%
        padding-top: 23px
      a:hover, a:active, a:focus
        border-bottom: 5px solid $hoverGreen
        background: none
        color: $hoverGreen
        transition: .2s ease-out

.carousel-indicators li
  border: 1px solid $yellowColor
.carousel-indicators .active
  background: $yellowColor


.yellow-btn
  color: white
  border-color: $yellowColor !important
  background: $yellowColor !important
.yellow-btn:hover, .yellow-btn:focus, .yellow-btn:active, .yellow-btn.active
  color: white
  border-color: $yellowColor !important
  background-color: $yellowColor !important

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left
  left: 0
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-right
  right: 0